
name: Audit NPM package

# Controls when the workflow will run
on: push

env:
  TOKEN_LISTS_ACTIONS_OR_CI_BUILD: true
  DAPP_RADAR_PROJECT_ID: ${{ secrets.DAPP_RADAR_PROJECT_ID }}
  DAPP_RADAR_API_KEY: ${{ secrets.DAPP_RADAR_API_KEY }}
  API_AUTH_TOKEN_GITHUB: ${{ secrets.API_AUTH_TOKEN_GITHUB }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  audit:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: brew install librsvg libimagequant pkg-config
      - run: npm install -g yarn
      - run: yarn --version
      - run: yarn
      - run: yarn audit
