name: Auto Release

on:
  workflow_dispatch:
  schedule:
    # At 01:00 (1 AM) every day
    - cron: '0 1 * * *'

env:
  COINGECKO_API_KEY: ${{ secrets.COINGECKO_API_KEY }}
  DAPP_RADAR_PROJECT_ID: ${{ secrets.DAPP_RADAR_PROJECT_ID }}
  DAPP_RADAR_API_KEY: ${{ secrets.DAPP_RADAR_API_KEY }}
  API_AUTH_TOKEN_GITHUB: ${{ secrets.API_AUTH_TOKEN_GITHUB }}

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - run: npm install -g yarn
      - run: yarn --version

      - name: Install dependencies
        run: yarn

      - name: Bump patch version
        id: bump-version
        run: |
          VERSION=$(npm version patch --no-git-tag-version)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Build assets
        run: yarn start

      - name: Bump version and commit build assets
        run: |
          git add data/ build/ package.json
          git commit -m "ci: update build assets (${{ steps.bump-version.outputs.version }})"
          git push

      - name: Publish NPM package
        run: npm run publish-token-package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          tag_name: ${{ steps.bump-version.outputs.version }}
          generate_release_notes: true
          make_latest: true
