# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Build

on: push

env:
  COINGECKO_API_KEY: ${{ secrets.COINGECKO_API_KEY }}
  API_AUTH_TOKEN_GITHUB: ${{ secrets.API_AUTH_TOKEN_GITHUB }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
      - run: npm install -g yarn
      - run: yarn --version
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn start
