name: Generate Coingecko Universe

on:
  workflow_dispatch:
  schedule:
    # At 00:00 (midnight) every day
    - cron: '0 0 * * *'

env:
  API_AUTH_TOKEN_GITHUB: ${{ secrets.API_AUTH_TOKEN_GITHUB }}
  COINGECKO_API_KEY: ${{ secrets.COINGECKO_API_KEY }}
  ETHEREUM_RPC_URL: ${{ secrets.ETHEREUM_RPC_URL }}
  BSC_RPC_URL: ${{ secrets.BSC_RPC_URL }}
  ARBITRUM_RPC_URL: ${{ secrets.ARBITRUM_RPC_URL }}
  BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
  POLYGON_RPC_URL: ${{ secrets.POLYGON_RPC_URL }}
  OPTIMISM_RPC_URL: ${{ secrets.OPTIMISM_RPC_URL }}
  AVALANCHE_RPC_URL: ${{ secrets.AVALANCHE_RPC_URL }}
  SOLANA_RPC_URL: ${{ secrets.SOLANA_RPC_URL }}

permissions:
  contents: write

jobs:
  generate-coingecko-universe:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Configure git'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - run: npm install -g yarn
      - run: yarn --version
      - run: yarn install --frozen-lockfile
      - run: yarn generate-coingecko-universe

      - run: git add data
      - run: git commit -m "Update Coingecko Universe"

      - run: git push
