# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish NPM package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.20.10

env:
  TOKEN_LISTS_ACTIONS_OR_CI_BUILD: true
  DAPP_RADAR_PROJECT_ID: ${{ secrets.DAPP_RADAR_PROJECT_ID }}
  DAPP_RADAR_API_KEY: ${{ secrets.DAPP_RADAR_API_KEY }}
  API_AUTH_TOKEN_GITHUB: ${{ secrets.API_AUTH_TOKEN_GITHUB }}

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y librsvg2-bin libimagequant-dev pkg-config
      - run: npm install -g yarn
      - run: yarn --version
      - run: yarn
      - run: yarn start
      - run: npm run publish-token-package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
